.project__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.project__item {
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.project__item:hover {
    border-color: var(--color-primary-varient);
    background: transparent;
}

.project__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.project__item h3 {
    text-align: center;
}

.project__item p {
    text-align: center;
    margin: 0 0 2rem;
}

.project__item-cta {
    display: flex;
    gap: 0.8rem;
    margin-bottom: 0.5rem;
    font-size: xx-small;
}

@media screen and (max-width: 1020px) {
    .project__container {
        grid-template-columns: 1fr 1fr;
        margin: 0 1rem;
    }

    .project__item h3 {
        text-align: center;
    }

    .project__item-cta {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .project__container {
        grid-template-columns: 1fr;
    }

    .project__item h3 {
        text-align: center;
    }

    .project__item-cta {
        display: flex;
        justify-content: center;
    }
}